{{page-title "Request access"}}

<section class="au-o-region-large">

  <div class="au-o-layout">
    <div class="au-o-grid au-o-grid--small au-o-grid--center au-u-1-1">
      <AuLink
        @route="auth.index"
        @skin="primary"
        @icon="arrow-left"
        class="au-u-margin-bottom-small au-u-flex au-u-flex-self-start au-u-margin-top-small"
      >
        Back
      </AuLink>
      <div class="au-o-grid__item au-u-1-2@small">
        <AuCard class="au-u-background-gray-200" @textCenter={{true}} as |c|>
          <c.header>
            <AuHeading @level="3" @skin="3">
              Request access
            </AuHeading>
            <p>STEP 1/2</p>
          </c.header>

          <c.content
            class="au-u-flex au-u-flex--vertical-center au-u-flex--center au-u-flex--column"
          >
            <p>Make sure you download one of our trusted wallets:</p>
            <ul class="au-u-text-left">
              <li>Paradym wallet (recommended)
                <a
                  href="https://apps.apple.com/nl/app/paradym-wallet/id6449846111?l=en-GB"
                  target="_blank"
                  rel="noopener noreferrer"
                >iOS</a>
                /
                <a
                  href="https://play.google.com/store/apps/details?id=id.paradym.wallet"
                  target="_blank"
                  rel="noopener noreferrer"
                >Android</a>
              </li>
              <li><a
                  href="/assets/apks/app-demo-debug.apk"
                  target="_blank"
                  rel="noopener noreferrer"
                >EUDI</a>
              </li>
            </ul>
          </c.content>

          <c.footer class="au-u-margin-top">
            <AuLink
              @route="auth.receive-credential"
              @width="block"
              @skin="button"
            >
              Show QR-code
            </AuLink>
          </c.footer>
        </AuCard>
      </div>
    </div>
  </div>
</section>