.au-u-min-height-full {
  min-height: 100vh;
}

.au-u-overflow-auto {
  overflow: auto;
}

.login-image-big {
  max-width: 350px;
  width: 100%;
}

.login-image-small {
  max-width: 150px;
  width: 100%;
}
