.au-u-min-height-full {
  min-height: 100vh;
}

.au-u-overflow-auto {
  overflow: auto;
}

.login-image-big {
  max-width: 350px;
  width: 100%;
}

.login-image-small {
  max-width: 150px;
  width: 100%;
}

.qr-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
}

.qr-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.map-container {
    width: 600px;
    height: 400px;
    overflow: hidden;
}
