{{! template-lint-disable no-inline-styles }}
{{! template-lint-disable no-at-ember-render-modifiers }}
<div class="qr-container">
  {{#if this.isLoading}}
    <div class="qr-loader">
      <AuLoader @padding="small" />
    </div>
  {{/if}}

  <canvas width="300" height="300" id="qrCode"></canvas>
</div>

{{yield}}